*{
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
}

div {
    border-width: 1px;
    border-color: black;
    border-style: dotted;
}

.destacado { font-size: 15px;

}
.error {color: red}
.especial {font-weight: bold;}

#ddd {color:blue}




